openapi: 3.0.3
info:
  title: "Piattaforma Notifiche: API B2B per le Pubbliche Amministrazioni"
  description: " ... "
  termsOfService: https://notifichedigitali.pagopa.it/pubbliche-amministrazioni/index.html
  license:
    name: Licenza di PN
    url: https://notifichedigitali.pagopa.it/pubbliche-amministrazioni/index.html
  version: 1.0.0
  x-api-id: api-external-b2b-pa
  x-summary: "Piattaforma Notifiche: API B2B per le Pubbliche Amministrazioni"
servers:
- url: https://api.pn.pagopa.it
  description: Ambiente di produzione
- url: https://api.coll.pn.pagopa.it
  description: Ambiente di collaudo
- url: https://api.svil.pn.pagopa.it
  description: Ambiente di test
- url: https://api.dev.pn.pagopa.it
  description: Ambiente di sviluppo
security:
- ApiKeyAuth: []
tags:
- name: HealthCheck
  description: Invocazioni per sapere lo stato del microservizio
- name: NewNotification
  description: Invocazioni per effettuare il pre-caricamento dei documenti della notifica
    e inviare notifiche
- name: SenderReadB2B
  description: Invocazioni utilizzabili dai mittenti per verificare lo stato delle
    richieste  di notifica inviate e delle notifiche accettate.
- name: NotificationPrice
  description: Invocazioni per determinare il costo della notifica per il destinario.
- name: LegalFacts
  description: Invocazioni per effettuare il downalod degli atti opponibili a terzi
paths:
  /status:
    get:
      tags:
      - HealthCheck
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      operationId: status
      responses:
        "200":
          description: Ok
        "500":
          description: Internal Server Error
  /delivery/attachments/preload:
    post:
      tags:
      - NewNotification
      summary: Richiesta di pre-caricamento dei documenti della notifica
      description: Operazione che richiede a Piattaforma Notifica le informazioni
        e le autorizzazioni necessarie  a precaricare uno o pi? file da allegare a
        una notifica. <br/>
      operationId: presignedUploadRequest
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreLoadBulkRequest'
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PreLoadResponse'
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/requests:
    get:
      tags:
      - SenderReadB2B
      summary: Verifica accettazione richiesta notifica
      description: Questa operazione serve per verificare se la richiesta di notifica
        ? stata accettata e ottenere lo IUN associato a tale richiesta. <br/> Bisogna
        specificare il parametro _requestId_ oppure la coppia costituita dai parametri  _paProtocolNumber_
        e _idempotenceToken_. <br/>
      operationId: retrieveNotificationRequestStatus
      parameters:
      - name: notificationRequestId
        in: query
        description: identificativo della richiesta di notifica
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: paProtocolNumber
        in: query
        description: "Numero di protocollo associato alla notifica, pu? essere riutilizzato\
          \ per rettifiche."
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: idempotenceToken
        in: query
        description: 'token usato per disambiguare "richieste di notificazione" effetuate
          con lo stesso  numero di protocollo. '
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewNotificationRequestStatusResponse'
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
    post:
      tags:
      - NewNotification
      summary: Richiesta invio notifica
      description: |-
        Operazione utilizzata dalla Pubblica Amministrazione per richiedere l'invio di una notifica.
        La restituzione di uno stato HTTP 202 significa solo che la richiesta ? sintatticamente valida, non che la richiesta sia stata validata ed accettata. <br/> Per conoscere lo stato di accettazione della richiesta di notifica bisogna utilizzare l'operazione _getNotificationRequestStatus_ oppure utilizzare la modalit? push prevista dai webhook. <br/>
      operationId: sendNewNotification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewNotificationRequest'
        required: true
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NewNotificationResponse'
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "409":
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/notifications/sent/{iun}:
    get:
      tags:
      - SenderReadB2B
      summary: "Mittente: lettura dettagli notifica"
      description: Questa operazione permette di leggere tutti i dettagli di una notifica
        accettata. <br/>
      operationId: retrieveSentNotification
      parameters:
      - name: iun
        in: path
        description: Identificativo Univoco Notifica
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FullSentNotification'
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/notifications/sent/{iun}/attachments/documents/{docIdx}:
    get:
      tags:
      - SenderReadB2B
      summary: Download documento notificato
      description: Download documento notificato
      operationId: retrieveSentNotificationDocument
      parameters:
      - name: iun
        in: path
        description: Identificativo Univoco Notifica
        required: true
        schema:
          type: string
      - name: docIdx
        in: path
        description: indice del documento nella lista partendo da 0.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/notifications/sent/{iun}/attachments/payment/{recipientIdx}/{attachmentName}:
    get:
      tags:
      - SenderReadB2B
      summary: Download allegato per pagamento
      description: Download allegato per pagamento
      operationId: retrieveSentNotificationAttachment
      parameters:
      - name: iun
        in: path
        description: Identificativo Univoco Notifica
        required: true
        schema:
          type: string
      - name: recipientIdx
        in: path
        description: indice dei destinatario nella lista partendo da 0.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: attachmentName
        in: path
        description: Tipologia del pagamento allegato alla notifica. Valori possibili
          PAGOPA|F24_FLAT|F24_STANDARD
        required: true
        style: simple
        explode: false
        schema:
          pattern: PAGOPA|F24_FLAT|F24_STANDARD
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "404":
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery-push/{iun}/legal-facts/{legalFactType}/{legalFactId}:
    get:
      tags:
      - LegalFacts
      summary: Download atto opponibile a terzi
      description: Permette di scaricare un atto opponibile a terzi
      operationId: retrieveLegalFact
      parameters:
      - name: iun
        in: path
        description: Identificativo Univoco Notifica
        required: true
        schema:
          type: string
      - name: legalFactType
        in: path
        description: Categoria dell'atto opponbile a terzi
        required: true
        schema:
          # $ref: '#/components/schemas/LegalFactCategory'
          type: string
      - name: legalFactId
        in: path
        description: Identificativo dell'atto opponbile a terzi
        required: true
        schema:
          type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalFactDownloadMetadataResponse'
        "400":
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/price/{paTaxId}/{noticeCode}:
    get:
      tags:
      - NotificationPrice
      summary: Retrieve notification price and effective date
      description: "Used to retrieve the notification price charged and effective\
        \ date          # ONLY EXTERNAL from PagoPa identifiers paTaxId and noticeCode.\
        \                             # ONLY EXTERNAL Called from PA to turn notification\
        \ cost to the receiver during the         # ONLY EXTERNAL pagoPa payment verification\
        \ phase.                                          # ONLY EXTERNAL"
      operationId: retrieveNotificationPrice
      parameters:
      - name: paTaxId
        in: path
        description: Payment PA fiscal code
        required: true
        style: simple
        explode: false
        schema:
          # $ref: '#/components/schemas/paTaxId'
          type: string
        example: "77777777777"
      - name: noticeCode
        in: path
        description: Payment notice number  numero avviso
        required: true
        style: simple
        explode: false
        schema:
          # $ref: '#/components/schemas/noticeCode'
          type: string
        example: "302000100000019421"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPriceResponse'
        "400":
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        "500":
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    PreLoadBulkRequest:
      maxItems: 15
      minItems: 1
      type: array
      items:
        $ref: '#/components/schemas/PreLoadRequest'
    PreLoadRequest:
      title: Richiesta di precaricamento di un File
      type: object
      required:
        - contentType
      properties:
        preloadIdx:
          title: Id della richiesta di precaricamento di un file
          type: string
          description: "Identificativo univoco all'interno della request HTTP, serve\
            \ per correlare la risposta. "
        contentType:
          title: MIME type del file che verr? caricato
          type: string
          description: |-
            Il MIME type dell'allegato che dovr? essere caricato. Attualmente ? supportato solo
              - application/pdf
          example: application/pdf
        sha256:
          title: checksum sha256 del file che verr? caricato
          type: string
          description: "checksum sha256, codificato in base 64, del contenuto binario\
            \ del file che verr? caricato"
          example: jezIVxlG1M1woCSUngM6KipUN3/p8cG5RMIPnuEanlE=
    PreLoadResponse:
      title: Informazioni per il caricamento file
      type: object
      properties:
        preloadIdx:
          type: string
          description: per correlazione con la richiesta
        secret:
          type: string
          description: Token aggiuntivo per far si che sia necessario intercettare
            anche gli  header e non solo l'URL di upload del contenuto del documento.
          example: AZ23RF12
        httpMethod:
          type: string
          description: Indica se per l'upload del contenuto file bisogna utilizzare
            il metodo PUT o POST
          example: PUT
          enum:
          - POST
          - PUT
        url:
          type: string
          description: URL a cui effettuare l'upload del contenuto del documento.
          example: https://preloadpn.aws.amazon.......
        key:
          type: string
          description: la chiave restituita sar? globalmente unica e andr? utilizzata
            nella richiesta  di notifica.
          example: PN_NOTIFICATION_ATTACHMENTS-0001-301W-B9CB-9U72-WIKD
      description: Per ogni richiesta che ? stata fatta viene fornito un presigned
        URL e le  informazioni per usarlo.
    NotificationPriceResponse:
      title: Notification price Response
      type: object
      properties:
        iun:
          $ref: '#/components/schemas/IUN'
        amount:
          type: string
          description: amount in euro cents
          example: "1220"
        effectiveDate:
          type: string
          description: notification effective IT local date
          format: date-time
      description: Notification price and effective date
    NewNotificationResponse:
      title: Identificativi della richiesta di notifica
      required:
      - notificationRequestId
      - paProtocolNumber
      type: object
      properties:
        notificationRequestId:
          type: string
          description: "identificativo univoco di una richiesta di invio notifica,\
            \ non ? lo IUN"
        paProtocolNumber:
          type: string
          description: Identificativo inviato dalla pubblica amministrazione
        idempotenceToken:
          type: string
          description: 'Ripetizione del token usato per disambiguare "richieste di
            notificazione"  effetuate con lo stesso numero di protocollo (campo _paProtocolNumber_). '
      description: Contiene le informazioni per identificare una richiesta di invio
        notifica che non ? ancora stata accettata da Piattaforma notifiche.
    NewNotificationRequestStatusResponse:
      allOf:
      - $ref: '#/components/schemas/NewNotificationRequest'
      - required:
        - notificationRequestId
        - notificationRequestStatus
        type: object
        properties:
          notificationRequestId:
            type: string
            description: "identificativo univoco di una richiesta di invio notifica,\
              \ non ? lo IUN"
          notificationRequestStatus:
            type: string
            description: "- __WAITING__: in attesa di essere valutata - __ACCEPTED__:\
              \ richiesta di notifica accettata, lo IUN ? valorizzato - __REFUSED__:\
              \ richiesta di notifica rifiutata, ? valorizzato il campo _errors_"
          retryAfter:
            type: integer
            description: Numero di secondi da attendere prima di effettuare una nuova
              richiesta per  la stessa entit?; valorizzato quando lo status ? __WAITING__.
            format: int32
          iun:
            $ref: '#/components/schemas/IUN'
          errors:
            type: array
            description: Elenco degli errori che hanno causato il rifiuto della richiesta
              di notifica
            items:
              $ref: '#/components/schemas/ProblemError'
    Problem:
      type: object
      required:
      - errors
      - status
      properties:
        type:
          type: string
          description: URI reference of type definition
        status:
          maximum: 600
          exclusiveMaximum: true
          minimum: 100
          type: integer
          description: The HTTP status code generated by the origin server for this
            occurrence of the problem.
          format: int32
          example: 503
        title:
          maxLength: 64
          pattern: "^[ -~]{0,64}$"
          type: string
          description: "A short, summary of the problem type. Written in english and\
            \ readable"
          example: Service Unavailable
        detail:
          maxLength: 4096
          pattern: "^.{0,4096}$"
          type: string
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
        traceId:
          type: string
          description: Internal support identifier associated to error
          example: 123e4567-e89b-12d3-a456-426614174000
        timestamp:
          type: string
          description: date and time referred to UTC
          format: date-time
          example: 2022-07-27T12:22:33.444Z
        errors:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/ProblemError'
    ProblemError:
      type: object
      required:
      - code
      properties:
        code:
          type: string
          description: "Internal code of the error, in human-readable format"
          example: PN_PARAMETER_TOO_LONG | PN_PARAMETER_TOO_SHORT | PN_DUPLICATE_ENTRY
            | etc...
        element:
          type: string
          description: Parameter or request body field name for validation error
          example: "body.order.item[2].quantity"
        detail:
          maxLength: 1024
          type: string
          description: A human readable explanation specific to this occurrence of
            the problem.
          example: Parameter not valid
    FullSentNotification:
      description: Le informazioni riguardanti una notifica (richiesta di notifica
        accettata) e il  processo di inoltro della notifica verso il cittadino.
      allOf:
      - $ref: '#/components/schemas/SentNotification'
      - required:
        - notificationStatus
        - notificationStatusHistory
        - timeline
        type: object
        properties:
          notificationStatus:
            $ref: '#/components/schemas/NotificationStatus'
          notificationStatusHistory:
            $ref: '#/components/schemas/NotificationStatusHistory'
          timeline:
            type: array
            description: elenco dettagliato di tutto ci? che ? accaduto durrante il
              processo di notifica
            items:
              $ref: '#/components/schemas/TimelineElement'
    TimelineElement:
      type: object
      properties:
        elementId:
          type: string
          description: "Identificativo dell'elemento di timeline: insieme allo IUN\
            \ della notifica definisce in  maniera univoca l'elemento di timeline"
        timestamp:
          type: string
          description: Momento in cui avviene l'evento descritto in questo elemento
            di timeline
          format: date-time
        legalFactsIds:
          type: array
          description: Chiavi dei documenti che provano l'effettivo accadimento dell'evento
            descritto in timeline. Questo elemento
          items:
            $ref: '#/components/schemas/LegalFactsId'
        category:
          $ref: '#/components/schemas/TimelineElementCategory'
        details:
          $ref: '#/components/schemas/TimelineElementDetails'
      additionalProperties: false
    NotificationStatus:
      type: string
      description: "stato di avanzamento del processo di notifica:\n  * `IN_VALIDATION`\
        \ - notifica depositata in attesa di validazione\n  * `ACCEPTED` - notifica\
        \ accettata \n  * `REFUSED` - notifica rifiutata\n  * `DELIVERING` - notifica\
        \ in spedita\n  * `DELIVERED` - notifica ricevuta da tutti i destinatari\n\
        \  * `VIEWED` - notifica presa visione per almeno un destinatario\n  * `EFFECTIVE_DATE`\
        \ - notifica perfezionata per un destinatario\n  * `PAID` - notifica pagata\n\
        \  * `UNREACHABLE` - notifica non recapitabile\n  * `CANCELLED` - notifica\
        \ annullata dal mittente\n"
      enum:
      - IN_VALIDATION
      - ACCEPTED
      - DELIVERING
      - DELIVERED
      - VIEWED
      - EFFECTIVE_DATE
      - PAID
      - UNREACHABLE
      - REFUSED
      - CANCELLED
    NotificationStatusHistory:
      type: array
      description: elenco degli avanzamenti effettuati dal processo di notifica
      items:
        $ref: '#/components/schemas/NotificationStatusHistoryElement'
    LegalFactDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      required:
      - contentLength
      - filename
      type: object
      properties:
        filename:
          type: string
        contentLength:
          type: number
          description: "dmensione, in byte, del contenuto."
          format: decimal32
          example: 54092
        url:
          type: string
          description: URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento ? pronto per
            il download.
        retryAfter:
          type: number
          description: Stima del numero di secondi da aspettare prima che il contenuto
            del  documento sia scaricabile.
          format: decimal32
      description: |-
        I due campi pi? importanti sono __url__ e __retryAfter__. <br/>
          - __url__ ? presente se il file ? pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file non ? stato archiviato e bisogner? aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
    NewNotificationRequest:
      required:
      - documents
      - notificationFeePolicy
      - paProtocolNumber
      - physicalCommunicationType
      - recipients
      - senderDenomination
      - senderTaxId
      - subject
      type: object
      properties:
        idempotenceToken:
          type: string
          description: Identificativo utilizzabile dal chiamante per disambiguare
            differenti  "richieste di notificazione" effettuate con lo stesso numero
            di protocollo  (campo _paProtocolNumber_). Questo pu? essere necessario
            in caso di  "richiesta di notifica" rifiutata per errori nei codici di
            verifica degli allegati.
        paProtocolNumber:
          type: string
          description: Numero di protocollo che la PA mittente assegna alla notifica
            stessa
        subject:
          maxLength: 512
          type: string
          description: titolo della notifica
        abstract:
          maxLength: 1024
          type: string
          description: descrizione sintetica della notifica
        recipients:
          type: array
          description: Informazioni sui destinatari
          items:
            $ref: '#/components/schemas/NotificationRecipient'
        documents:
          minItems: 1
          type: array
          description: Documenti notificati
          items:
            $ref: '#/components/schemas/NotificationDocument'
        notificationFeePolicy:
          type: string
          description: "Politica di addebitamento dei costi di notifica. <br/> - _FLAT_RATE_:\
            \ costo forfettario fisso. <br/> - _DELIVERY_MODE_: costo calcolato in\
            \ base all'effettivo percorso di notifica. <br/>"
          enum:
          - FLAT_RATE
          - DELIVERY_MODE
        cancelledIun:
          $ref: '#/components/schemas/IUN'
        physicalCommunicationType:
          type: string
          description: Tipologia comunicazione fisica
          enum:
          - SIMPLE_REGISTERED_LETTER
          - REGISTERED_LETTER_890
        senderDenomination:
          $ref: '#/components/schemas/Denomination'
        senderTaxId:
          $ref: '#/components/schemas/paTaxId'
        group:
          type: string
          description: Gruppo di utenti dell'ente mittente che pu? visualizzare la
            notifica
        amount:
          type: integer
          description: Importo della notifica in eurocent
          format: int32
        paymentExpirationDate:
          pattern: "^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$"
          type: string
          description: Data di scadenza del pagamento nel formato YYYY-MM-DD riferito
            all'Italia
        taxonomyCode:
          maxLength: 7
          minLength: 7
          pattern: "^([0-9]{6}[A-Z]{1})$"
          type: string
          description: "Codice tassonomico della notifica basato sulla definizione\
            \ presente nell'allegato 2 capitolo C del bando [__AVVISO PUBBLICO MISURA\
            \ 1.4.5 PIATTAFORMA NOTIFICHE DIGITALI__](https://pnrrcomuni.fondazioneifel.it/bandi_public/Bando/325)\
            \      "
          default: 010101P
      description: I campi utilizzati per la creazione di una nuova Notifica.
    NotificationRecipient:
      required:
      - denomination
      - recipientType
      - taxId
      type: object
      properties:
        recipientType:
          type: string
          description: "Tipologia di destinatario: Persona Fisica (PF) o Persona Giuridica\
            \ (PG)"
          enum:
          - PF
          - PG
        taxId:
          $ref: '#/components/schemas/TaxId'
        internalId:
          type: string
          description: id interno anonimizzato
        denomination:
          $ref: '#/components/schemas/Denomination'
        digitalDomicile:
          $ref: '#/components/schemas/NotificationDigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/NotificationPhysicalAddress'
        payment:
          $ref: '#/components/schemas/NotificationPaymentInfo'
      description: Informazioni sui destinatari
    TaxId:
      maxLength: 16
      minLength: 11
      pattern: "^([A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})|([0-9]{11})$"
      type: string
      description: C.F. persona fisica o persona giuridica (Partita iva)
    Denomination:
      maxLength: 80
      minLength: 1
      pattern: "^([\\x20-\\xFF]{1,80})$"
      type: string
      description: Denominazione ente o persona fisica / ragione sociale
    NotificationDigitalAddress:
      required:
      - address
      - type
      type: object
      properties:
        type:
          type: string
          description: "tipo di indirizzo PEC, REM, SERCQ, ..."
          enum:
          - PEC
        address:
          type: string
          description: Indirizzo PEC o REM che il mittente della notifica intende
            utilizzare per  raggiungere il destinatario.
          example: account@domain
      description: Indirizzo di invio della notifica
    NotificationPhysicalAddress:
      required:
      - address
      - municipality
      - zip
      type: object
      properties:
        at:
          type: string
          description: Campo "presso" dell'indirizzo
        address:
          type: string
          description: Indirizzo del domicilio fisico
        addressDetails:
          type: string
          description: Seconda riga dell'indirizzo fisico
        zip:
          type: string
          description: Codice di avviamento postale
        municipality:
          type: string
          description: Comune
        municipalityDetails:
          type: string
          description: Frazione o localit?
        province:
          type: string
          description: Provincia
        foreignState:
          type: string
          description: Denominazione paese estero
      description: Indirizzo fisico scoperto durante fase di consegna
    NotificationPaymentInfo:
      title: Informazioni per effettuare il pagamento
      required:
      - creditorTaxId
      - noticeCode
      type: object
      properties:
        noticeCode:
          $ref: '#/components/schemas/noticeCode'
        creditorTaxId:
          $ref: '#/components/schemas/paTaxId'
        noticeCodeAlternative:
          $ref: '#/components/schemas/noticeCode'
        pagoPaForm:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
        f24flatRate:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
        f24standard:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
      description: |-
        Informazioni utili per effettuare il pagamento di una notifica, sono associate al destinatario perch? le spese di notifica possono differire a seconda del canale di notifica utilizzato. <br/>
          - _notificationFeePolicy_: indica se il pagamento delle spese di notifica ? forfettario o
             calcolato puntualmente. <br/>
          - _noticeCode_: "codice avviso pagoPA" di pagamento del sistema pagoPA, usato per pagamento online.<br/>
          - _creditorTaxId_: codice fiscale dell'ente a cui fa riferimento il "codice avviso pagoPA". <br/>
          - _pagoPaForm_: riferimento al PDF contenete il bollettino pagoPA<br/>
          - _f24flatRate_: riferimento al PDF contenete l'F24 con spese di notifica forfettarie<br/>
          - _f24standard_: riferimento al PDF contenete l'F24 con spese di notifica standard<br/>
    noticeCode:
      maxLength: 18
      minLength: 18
      pattern: ^\d+$
      type: string
      description: Payment notice number  numero avviso
      example: "302000100000019421"
    paTaxId:
      maxLength: 11
      minLength: 11
      pattern: ^\d+$
      type: string
      description: Payment PA fiscal code
      example: "77777777777"
    NotificationPaymentAttachment:
      description: Un modulo di pagamento allegato alla notifica
      allOf:
      - $ref: '#/components/schemas/NotificationAttachment'
    NotificationAttachment:
      required:
      - contentType
      - digests
      - ref
      type: object
      properties:
        digests:
          $ref: '#/components/schemas/NotificationAttachmentDigests'
        contentType:
          type: string
          description: "tipo di contenuto dell'allegato, supportato application/pdf"
        ref:
          $ref: '#/components/schemas/NotificationAttachmentBodyRef'
      description: Un allegato della notifica.
    NotificationAttachmentDigests:
      required:
      - sha256
      type: object
      properties:
        sha256:
          type: string
          description: Digest "sha256" della codifica binaria dell'allegato
      description: Codici per la verifica del corretto caricamento di un allegato
    NotificationAttachmentBodyRef:
      required:
      - key
      - versionToken
      type: object
      properties:
        key:
          type: string
          description: Chiave in cui ? stato salvato l'allegato
        versionToken:
          type: string
          description: Token per recuperare l'esatta istanza dell'allegato
      description: Riferimento all'allegato precaricato
    NotificationDocument:
      description: Un documento da notifcare
      allOf:
      - $ref: '#/components/schemas/NotificationAttachment'
      - type: object
        properties:
          title:
            type: string
            description: Titolo del documento allegato
          requiresAck:
            type: boolean
            description: Se presente e valorizzato __true__ il download del documento  diventa
              necessario al fine del perfezionamento per presa visione.
          sendByMail:
            type: boolean
            description: Se presente e valorizzato __true__ il documento verr? spedito  nelle
              comunicazioni cartacee. In MVP questo flag sar? attivabile  solo su
              un documento.
          docIdx:
            type: string
            description: Indice del documento partendo da 0.
    IUN:
      maxLength: 25
      minLength: 25
      pattern: "^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$"
      type: string
      description: Identificativo Univoco Notifica
    NotificationAttachmentDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      required:
      - contentLength
      - contentType
      - filename
      - sha256
      type: object
      properties:
        filename:
          type: string
        contentType:
          type: string
          example: application/pdf
        contentLength:
          type: integer
          description: "dmensione, in byte, del contenuto."
          format: int32
          example: 54092
        sha256:
          type: string
          description: SHA256 del contenuto del file.
        url:
          type: string
          description: URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento ? pronto per
            il download.
        retryAfter:
          type: integer
          description: Stima del numero di secondi da aspettare prima che il contenuto
            del  documento sia disponibile per il download.
          format: int32
      description: |-
        I due campi pi? importanti sono __url__ e __retryAfter__. <br/>
          - __url__ ? presente se il file ? pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file ? stato archiviato e bisogner? aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
    SentNotification:
      description: Le informazioni riguardanti una richiesta di notifica accettata
      allOf:
      - $ref: '#/components/schemas/NewNotificationRequest'
      - required:
        - iun
        - sentAt
        type: object
        properties:
          senderPaId:
            type: string
            description: Identificativo IPA della PA mittente che ha eseguito l'onborading
              su SelfCare.
          iun:
            $ref: '#/components/schemas/IUN'
          sentAt:
            type: string
            description: Momento di ricezione della notifica da parte di PN
            format: date-time
          cancelledByIun:
            $ref: '#/components/schemas/IUN'
          documentsAvailable:
            type: boolean
            description: Indica se i documenti notificati sono ancora disponibili.
    TimelineElementCategory:
      type: string
      description: "stato di avanzamento del processo di notifica:`\n  * `REQUEST_ACCEPTED`\
        \ - \n  * `SEND_COURTESY_MESSAGE` - \n  * `GET_ADDRESS` - \n  * `PUBLIC_REGISTRY_CALL`\
        \ - \n  * `PUBLIC_REGISTRY_RESPONSE` - \n  * `SCHEDULE_ANALOG_WORKFLOW` -\
        \ \n  * `SCHEDULE_DIGITAL_WORKFLOW` - \n  * `SEND_DIGITAL_DOMICILE` - \n \
        \ * `SEND_DIGITAL_DOMICILE_FEEDBACK` - \n  * `SEND_DIGITAL_FEEDBACK` - \n\
        \  * `REFINEMENT` - \n  * `SCHEDULE_REFINEMENT` - \n  * `DIGITAL_SUCCESS_WORKFLOW`\
        \ - \n  * `DIGITAL_FAILURE_WORKFLOW` - \n  * `ANALOG_SUCCESS_WORKFLOW` - \n\
        \  * `ANALOG_FAILURE_WORKFLOW` - \n  * `SEND_SIMPLE_REGISTERED_LETTER` - \n\
        \  * `NOTIFICATION_VIEWED` - \n  * `SEND_ANALOG_DOMICILE` - \n  * `SEND_PAPER_FEEDBACK`\
        \ - \n  * `PAYMENT` - \n  * `COMPLETELY_UNREACHABLE` - \n  * `REQUEST_REFUSED`\
        \ - \n  * `AAR_GENERATION` - \n  * `NOT_HANDLED` -\n"
      enum:
      - REQUEST_ACCEPTED
      - SEND_COURTESY_MESSAGE
      - GET_ADDRESS
      - PUBLIC_REGISTRY_CALL
      - PUBLIC_REGISTRY_RESPONSE
      - SCHEDULE_ANALOG_WORKFLOW
      - SCHEDULE_DIGITAL_WORKFLOW
      - SEND_DIGITAL_DOMICILE
      - SEND_DIGITAL_PROGRESS
      - SEND_DIGITAL_FEEDBACK
      - REFINEMENT
      - SCHEDULE_REFINEMENT
      - DIGITAL_SUCCESS_WORKFLOW
      - DIGITAL_FAILURE_WORKFLOW
      - ANALOG_SUCCESS_WORKFLOW
      - ANALOG_FAILURE_WORKFLOW
      - SEND_SIMPLE_REGISTERED_LETTER
      - NOTIFICATION_VIEWED
      - SEND_ANALOG_DOMICILE
      - SEND_PAPER_FEEDBACK
      - PAYMENT
      - COMPLETELY_UNREACHABLE
      - REQUEST_REFUSED
      - AAR_GENERATION
      - NOT_HANDLED
    TimelineElementDetails:
      description: The raw event payload that will be different based on the event.
      oneOf:
      - $ref: '#/components/schemas/NotificationRequestAcceptedDetails'
      - $ref: '#/components/schemas/AnalogFailureWorkflowDetails'
      - $ref: '#/components/schemas/AnalogSuccessWorkflowDetails'
      - $ref: '#/components/schemas/CompletelyUnreachableDetails'
      - $ref: '#/components/schemas/DigitalFailureWorkflowDetails'
      - $ref: '#/components/schemas/DigitalSuccessWorkflowDetails'
      - $ref: '#/components/schemas/GetAddressInfoDetails'
      - $ref: '#/components/schemas/NotificationViewedDetails'
      - $ref: '#/components/schemas/PublicRegistryCallDetails'
      - $ref: '#/components/schemas/PublicRegistryResponseDetails'
      - $ref: '#/components/schemas/RefinementDetails'
      - $ref: '#/components/schemas/RequestRefusedDetails'
      - $ref: '#/components/schemas/ScheduleAnalogWorkflowDetails'
      - $ref: '#/components/schemas/ScheduleDigitalWorkflowDetails'
      - $ref: '#/components/schemas/ScheduleRefinementDetails'
      - $ref: '#/components/schemas/SendCourtesyMessageDetails'
      - $ref: '#/components/schemas/SendDigitalDetails'
      - $ref: '#/components/schemas/SendDigitalFeedbackDetails'
      - $ref: '#/components/schemas/SendDigitalProgressDetails'
      - $ref: '#/components/schemas/SendAnalogDetails'
      - $ref: '#/components/schemas/SendAnalogFeedbackDetails'
      - $ref: '#/components/schemas/SimpleRegisteredLetterDetails'
      - $ref: '#/components/schemas/AarGenerationDetails'
      - $ref: '#/components/schemas/NotHandledDetails'
      - $ref: '#/components/schemas/NotificationPaidDetails'
    NotificationRequestAcceptedDetails:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    AnalogFailureWorkflowDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    AnalogSuccessWorkflowDetails:
      required:
      - physicalAddress
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    CompletelyUnreachableDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    DigitalFailureWorkflowDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    DigitalSuccessWorkflowDetails:
      required:
      - digitalAddress
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
    GetAddressInfoDetails:
      required:
      - attemptDate
      - digitalAddressSource
      - isAvailable
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        isAvailable:
          type: boolean
          description: Disponibilit? indirizzo
        attemptDate:
          type: string
          description: Data tentativo
          format: date-time
    DigitalAddressSource:
      type: string
      description: sorgente indirizzo di invio della notifica
      enum:
      - PLATFORM
      - SPECIAL
      - GENERAL
    NotificationViewedDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        notificationCost:
          type: integer
          description: "costo notifica in euro cents, pu? essere nullo se la notifica\
            \ si ? perfezionata prima per decorrenza termini"
          format: int64
          example: 1220
        raddType:
          type: string
          description: Tipologia rete radd
        raddTransactionId:
          type: string
          description: ID della pratica dell'evento proveniente dalla rete radd
    PublicRegistryCallDetails:
      required:
      - contactPhase
      - deliveryMode
      - recIndex
      - sendDate
      - sentAttemptMade
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        deliveryMode:
          $ref: '#/components/schemas/DeliveryMode'
        contactPhase:
          $ref: '#/components/schemas/ContactPhase'
        sentAttemptMade:
          type: integer
          description: Numero di tentativi di notificazione gi? effettuati
          format: int32
        sendDate:
          type: string
          description: Data invio richiesta ai public registry
          format: date-time
    DeliveryMode:
      type: string
      description: Tipologia Domiciliazione
      enum:
      - DIGITAL
      - ANALOG
    ContactPhase:
      type: string
      description: Fase in cui ? avvenuta la richiesta
      enum:
      - CHOOSE_DELIVERY
      - SEND_ATTEMPT
    PublicRegistryResponseDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    RefinementDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        notificationCost:
          type: integer
          description: "costo notifica in euro cents, pu? essere nullo se la notifica\
            \ si ? perfezionata prima per visualizzazione"
          format: int64
          example: 1220
    RequestRefusedDetails:
      required:
      - errors
      type: object
      properties:
        errors:
          type: array
          description: Motivazioni che hanno portato al rifiuto della notifica
          items:
            type: string
            description: Motivazioni che hanno portato al rifiuto della notifica
    ScheduleAnalogWorkflowDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    ScheduleDigitalWorkflowDetails:
      required:
      - digitalAddress
      - digitalAddressSource
      - lastAttemptDate
      - recIndex
      - sentAttemptMade
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        sentAttemptMade:
          type: integer
          format: int32
        lastAttemptDate:
          type: string
          format: date-time
    ScheduleRefinementDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    SendCourtesyMessageDetails:
      required:
      - digitalAddress
      - recIndex
      - sendDate
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        sendDate:
          type: string
          description: data invio messaggio di cortesia
          format: date-time
    SendDigitalDetails:
      required:
      - digitalAddress
      - digitalAddressSource
      - recIndex
      - retryNumber
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
    SendDigitalFeedbackDetails:
      required:
      - digitalAddress
      - notificationDate
      - recIndex
      - responseStatus
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        errors:
          type: array
          description: "Lista errori, vuota in caso di successo"
          items:
            type: string
            description: "Lista errori, vuota in caso di successo"
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
    ResponseStatus:
      type: string
      description: stato risposta ricevuta da externalChannel
      enum:
      - OK
      - KO
    SendingReceipt:
      type: object
      properties:
        id:
          type: string
        system:
          type: string
    SendDigitalProgressDetails:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        eventCode:
          type: string
          description: esito tornate da ext-channel
        shouldRetry:
          type: boolean
          description: indica se il progress ha dato luogo ad un ritentativo
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
    SendAnalogDetails:
      required:
      - investigation
      - numberOfPages
      - physicalAddress
      - recIndex
      - sentAttemptMade
      - serviceLevel
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        investigation:
          type: boolean
          description: E' richiesta investigazione indirizzo fisico alternativo
        numberOfPages:
          type: integer
          description: numero pagine pdf inviato
          format: int32
    ServiceLevel:
      type: string
      description: Livello Servizio
      enum:
      - SIMPLE_REGISTERED_LETTER
      - REGISTERED_LETTER_890
    SendAnalogFeedbackDetails:
      required:
      - investigation
      - physicalAddress
      - recIndex
      - sentAttemptMade
      - serviceLevel
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        investigation:
          type: boolean
          description: E' richiesta investigazione indirizzo fisico alternativo
        newAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        errors:
          type: array
          description: "Lista errori, vuota in caso di successo"
          items:
            type: string
            description: "Lista errori, vuota in caso di successo"
    SimpleRegisteredLetterDetails:
      required:
      - numberOfPages
      - physicalAddress
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        numberOfPages:
          type: integer
          description: numero pagine pdf inviato
          format: int32
    AarGenerationDetails:
      required:
      - generatedAarUrl
      - numberOfPages
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        generatedAarUrl:
          type: string
          description: Chiave per recupero da safe-storage del documento aar
        numberOfPages:
          type: integer
          description: numero di pagine del PDF generato
          format: int32
    NotHandledDetails:
      required:
      - reason
      - reasonCode
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        reasonCode:
          type: string
          description: Codice motivazione casistica non gestita
        reason:
          type: string
          description: Motivazione casistica non gestita
    NotificationPaidDetails:
      required:
      - recIndex
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
    NotificationStatusHistoryElement:
      required:
      - activeFrom
      - relatedTimelineElements
      - status
      type: object
      properties:
        status:
          $ref: '#/components/schemas/NotificationStatus'
        activeFrom:
          type: string
          description: data e ora di raggiungimento dello stato di avanzamento
          format: date-time
        relatedTimelineElements:
          type: array
          description: Eventi avvenuti nello stato
          items:
            $ref: '#/components/schemas/TimelineElementId'
      description: elenco degli avanzamenti effettuati dal processo di notifica
    LegalFactsId:
      required:
      - category
      - key
      type: object
      properties:
        key:
          type: string
          description: Chiave dell'atto opponibile a terzi generato durante il processo
            di consegna
        category:
          $ref: '#/components/schemas/LegalFactCategory'
      description: Chiavi dei documenti generati durante il processo di consegna cartacea
    LegalFactCategory:
      title: Tipi di atti opponibili a terzi
      type: string
      description: |-
        Tipi di atti opponibili a terzi che Piattaforam Notiiche mette a disposizione dei suoi utenti.
          - _SENDER_ACK_: atto di "presa in carico" di una notifica
          - _DIGITAL_DELIVERY_: ...
      enum:
      - SENDER_ACK
      - DIGITAL_DELIVERY
      - ANALOG_DELIVERY
      - RECIPIENT_ACCESS
      - PEC_RECEIPT
    PhysicalAddress:
      required:
      - address
      - municipality
      - zip
      type: object
      properties:
        at:
          type: string
          description: Campo "presso" dell'indirizzo
        address:
          type: string
          description: Indirizzo del domicilio fisico
        addressDetails:
          type: string
          description: Seconda riga dell'indirizzo fisico
        zip:
          type: string
          description: Codice di avviamento postale
        municipality:
          type: string
          description: Comune in cui l'indirizzo si trova
        municipalityDetails:
          type: string
          description: Frazione o localit?
        province:
          type: string
          description: Provincia in cui si trova l'indirizzo
        foreignState:
          type: string
          description: Denominazione paese estero
      description: Indirizzo fisico scoperto durante fase di consegna
    DigitalAddress:
      required:
      - address
      - type
      type: object
      properties:
        type:
          type: string
          description: "tipo di indirizzo PEC, REM, SERCQ, ..."
        address:
          type: string
          description: account@domain
      description: Indirizzo di invio della notifica
    TimelineElementId:
      type: string
  parameters:
    notificationRequestId:
      name: notificationRequestId
      in: query
      description: identificativo della richiesta di notifica
      required: false
      style: form
      explode: true
      schema:
        type: string
    paProtocolNumber:
      name: paProtocolNumber
      in: query
      description: "Numero di protocollo associato alla notifica, pu? essere riutilizzato\
        \ per rettifiche."
      required: false
      style: form
      explode: true
      schema:
        type: string
    idempotenceToken:
      name: idempotenceToken
      in: query
      description: 'token usato per disambiguare "richieste di notificazione" effetuate
        con lo stesso  numero di protocollo. '
      required: false
      style: form
      explode: true
      schema:
        type: string
    pathDocumentIdx:
      name: docIdx
      in: path
      description: indice del documento nella lista partendo da 0.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
    pathRecipientIdx:
      name: recipientIdx
      in: path
      description: indice dei destinatario nella lista partendo da 0.
      required: true
      style: simple
      explode: false
      schema:
        type: integer
        format: int32
    pathAttachmentName:
      name: attachmentName
      in: path
      description: Tipologia del pagamento allegato alla notifica. Valori possibili
        PAGOPA|F24_FLAT|F24_STANDARD
      required: true
      style: simple
      explode: false
      schema:
        pattern: PAGOPA|F24_FLAT|F24_STANDARD
        type: string
    pathLegalFactType:
      name: legalFactType
      in: path
      description: Categoria dell'atto opponbile a terzi
      required: true
      schema:
        $ref: '#/components/schemas/LegalFactCategory'
    pathLegalFactId:
      name: legalFactId
      in: path
      description: Identificativo dell'atto opponbile a terzi
      required: true
      schema:
        type: string
    pathIun:
      name: iun
      in: path
      description: Identificativo Univoco Notifica
      required: true
      schema:
        type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: x-api-key
      in: header
